DJANGO_LOGLEVEL=DEBUG
DEBUG=True
DJANGO_SECRET_KEY=your_secret_key
DJANGO_ALLOWED_HOSTS="127.0.0.1,0.0.0.0,localhost"
DJANGO_SUPERUSER_EMAIL=<your_email>
DJANGO_SUPERUSER_PASSWORD=<your_password>
DATABASE_NAME=starwars
DATABASE_USERNAME=<your_database_username>
DATABASE_PASSWORD=<your_database_password>
PIPENV_IGNORE_VIRTUALENVS=1